*.iml
.gradle
/local.properties

# selectively ignored (copyright must not be ignored)
/.idea/*
!/.idea/copyright

.DS_Store
/build
/captures
libs/
fsc-test-libs/
values.gradle
jacoco.exec
.vscode/
.settings/

