language: android
# you MUST mention trusty https://docs.travis-ci.com/user/languages/android/
dist: trusty
jdk: oraclejdk8

env:
  global:
  - ANDROID_API=29              # api is same as gradle file
  - ANDROID_BUILD_TOOLS=29.0.3  # should match gradle
  - ADB_INSTALL_TIMEOUT=5       # minutes
  matrix:
  # API 26+ supports "x86" (ANDROID_ABI=x86) emulators only, which are not supported yet in travis VMs
  # so API 24 is the highest level we can run with emulator for now
  - EMULATOR_API=19 ANDROID_TAG=google_apis ANDROID_ABI=armeabi-v7a    # API-16 build fails in travis
  - EMULATOR_API=21 ANDROID_TAG=google_apis ANDROID_ABI=armeabi-v7a
  - EMULATOR_API=24 ANDROID_TAG=google_apis ANDROID_ABI=armeabi-v7a
  
android:
  components:
    - tools
    - platform-tools
    - build-tools-$ANDROID_BUILD_TOOLS
    - android-$ANDROID_API
    - android-$EMULATOR_API
    # For Google APIs
    - addon-google_apis-google-$ANDROID_API
    - addon-google_apis-google-$EMULATOR_API
    # Google Play Services
    - extra-google-google_play_services
    # Support library
    - extra-android-support
    # Latest artifacts in local repository
    - extra-google-m2repository
    - extra-android-m2repository
    # Emulator
    - sys-img-$ANDROID_ABI-android-$EMULATOR_API

before_install:
  #- touch $HOME/.android/repositories.cfg

before_script:
  - echo $TRAVIS_BRANCH
  - echo $TRAVIS_TAG
  - echo no | android create avd --force -n test -t android-$EMULATOR_API --abi $ANDROID_ABI --tag $ANDROID_TAG
  - emulator -avd test -no-window &
  - scripts/android-wait-for-emulator.sh
  - adb shell input keyevent 82 &
script:
  - ./gradlew cleanAllModules
  - ./gradlew testAllModulesTravis

# Integration tests need to run first to reset the PR build status to pending
stages:
  - 'Source Clear'
  - 'Lint markdown files'
  - 'Integration tests'
  - 'Test'
  - 'Publish'

jobs:
  include:
    - stage: 'Lint markdown files'
      os: linux
      language: generic
      install: gem install awesome_bot
      before_script: skip
      script:
        - find . -type f -name '*.md' -exec awesome_bot {} \;
      notifications:
        email: false

    - stage: 'Integration tests'
      env:
        - SDK=android
        - BUILD_NUMBER=${TRAVIS_JOB_NUMBER/.}
        - SDK_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH
        - TESTAPP_BRANCH=master
      cache: false
      language: minimal
      before_install: skip
      install: skip
      before_script:
        - mkdir $HOME/travisci-tools && pushd $HOME/travisci-tools && git init && git pull https://$CI_USER_TOKEN@github.com/optimizely/travisci-tools.git && popd
      script:
        - $HOME/travisci-tools/trigger-script-with-status-update.sh
      after_success: travis_terminate 0

    - stage: 'Source Clear'
      if: type = cron
      addons:
        srcclr: true
      before_install: skip
      install: skip
      before_script: skip
      script: skip
      after_script: skip
      after_success: skip

    - stage: 'Publish'
      if: tag IS present
      script:
        - ./gradlew ship
      after_script: skip
      after_success: skip
      
