language: android
android:
  components:
  - platform-tools
  - tools
  
  - build-tools-24.0.3
  - android-24
  
  - extra-google-m2repository
  - extra-android-m2repository
  
  - sys-img-x86-android-24
  - sys-img-x86-android-23
  - sys-img-x86-android-22
  - sys-img-x86-android-21
  - sys-img-x86-android-20
  - sys-img-x86-android-19
  - sys-img-x86-android-18
  - sys-img-x86-android-17
  - sys-img-x86-android-16
  - sys-img-x86-android-15
  - sys-img-x86-android-10
  
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk6
  - openjdk7
  
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  cache:
    directories:
      - $HOME/.gradle/caches/
      - $HOME/.gradle/wrapper/
      
script: ./gradlew testAllModules

branches:
  only:
  - master
